* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

.header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(18, 30, 79, 0.5), rgba(5, 10, 26, 0.7)), url(/image/college.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    opacity: 100%;
    min-height: 100vh;
    width: 100%;
}

.header i {
    padding: 0 1em;
    color: rgb(221, 41, 21);
}

a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: rgb(106, 207, 241);
    font-weight: bold;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(1, 3, 24, 0.822);
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    display: inline-block;
    padding-right: 2vw;
}

#navLinks li::after {
    content: '';
    display: block;
    background-color: rgb(220, 7, 7);
    height: 2px;
    width: 0%;
    margin: auto;
}

#navLinks li:hover::after {
    width: 100%;
    transition: 0.5s;
}

.nav-links button {
    display: none;
}

.nav-links span {
    position: absolute;
    top: 5px;
    left: 0;
    color: white;
    cursor: pointer;
    display: none;
}

.text-box {
    margin: 0;
    padding: 0;
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    padding: 1.5em;
}

.text-box h1 {
    font-weight: 900;
    font-size: 42px;
    padding: 20px 0;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    margin-top: 2em;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: rgb(0, 4, 255);
}

.Course {
    padding: 0;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row {
    text-align: center;
    padding: 2em;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    text-align: center;
    margin: 0;
    flex-basis: 30%;
    background: #a9f067;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    padding: 5px;
}

p {
    padding: 5px;
}

.course-col:hover {
    background-color: rgb(240, 146, 46);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.campus {
    padding: 0;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus img {
    width: 24em;
    height: 20em;
    border-radius: 10px;
}

.campus .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.campus-col {
    position: relative;
    margin: 0;
}

.layer {
    width: 24em;
    height: 20em;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.layer:hover {
    background-color: rgb(241, 206, 132);
    opacity: 60%;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(242, 134, 41, 0.979);
}

.layer h3 {
    font-weight: 1000;
    opacity: 0;
}

.layer:hover h3 {
    opacity: 300%;
    color: rgb(1, 3, 24);
    transform: translateY(-400%);
    transition: 0.5s;
}

.facilities {
    margin: auto;
    text-align: center;
    padding: 50px 90px 50px 90px;
}

.facilities-col {
    background-color: rgb(245, 222, 175);
    line-height: 1.5em;
    border-radius: 20px;
    width: 290px;
}

.facilities .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: auto;
}

.facilities img {
    width: 290px;
    height: 290px;
    border-radius: 20px;
}

.testmonial {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testmonial .row {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.testmonial-col {
    display: flex;
    flex-direction: row;
    flex: 1fr 3fr;
    gap: 20px;
    font-size: 1em;
    line-height: 1.5em;
    background-color: rgb(255, 229, 180);
    border-radius: 20px;
    padding: 1em;
}

.testmonial-col img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.cta {
    margin: 100px auto;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(6, 14, 49, 0.7)), url(/image/college_1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 100%;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.cta h1 {
    padding: 0.6em;
}

.footer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
    padding-bottom: 20px;
}

.icons a {
    text-align: center;
    color: rgb(23, 18, 57);
    padding: 1em;
    font-size: large;
}

@media screen and (max-width: 600px) {
    #navLinks {
        display: flex;
        flex-direction: column;
        background-color: rgb(7, 7, 49);
        line-height: 1.5em;
        position: absolute;
        border-radius: 5px 0 30px 30px;
        top: 0;
        right: 0;
        padding: 1.5em;
        display: none;
        z-index: 2;
    }
    #navLinks li {
        display: block;
        padding-top: 5px;
    }
    .nav-links button {
        display: block;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
    }
    .facilities .row {
        flex-wrap: nowrap;
    }
    .campus .row {
        flex-wrap: nowrap;
    }
    .testmonial p {
        text-align: center;
        margin: 1rem 0;
        width: 100%;
    }
}


/* ----------------About us------------------------ */

.sub-header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(6, 14, 44, 0.7)), url(/image/Background_1.webp);
    height: 50vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header i {
    padding: 0 1em;
    color: rgb(221, 41, 21);
}

.sub-header a:hover {
    color: rgb(106, 207, 241);
    font-weight: bold;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 20px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.link-btn {
    border: 1px solid black;
    border-radius: 8px;
    background: transparent;
    color: black;
    font-weight: bold;
}


/* -----------------Contact Page-------------- */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 500px;
}

.gmap_iframe {
    height: 500px !important;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    text-align: start;
}

.contact-col div .fa {
    font-size: 28px;
    color: red;
    margin: 10px;
}

.contact-col div h4 {
    margin: 0;
    padding: 0;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid #ccc;
}


/* -----------Blog Page-------- */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-left {
    flex-basis: 60%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    margin: 10px 0;
}

.blog-left p {
    color: rgb(108, 101, 101);
    padding: 3px;
}

.blog-right {
    flex-basis: 35%;
    margin-left: 30px;
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    margin: 0;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: #555;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #ddd8d8;
}
